# Do not copy secrets
.env
.env.local
.env.development
.env.test
.env.production

# Node dependencies (not needed in image)
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# Build output (not needed)
dist
build
.cache
coverage

# System / editor files
.DS_Store
.vscode
.idea

# Docker files
docker-compose.yml
docker-compose.*.yml

# Git / project files
.git
.gitignore
